/* Map styling */
#map {
	height: 100%;
}

/* Full page height for HTML and body */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

/* Styling for the floating panel */
#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: "Roboto", "sans-serif";
	line-height: 30px;
	padding-left: 10px;
}

#floating-panel #submit-button:hover {
	background-color: green;
	color: white;
}

#floating-panel #delete-markers:hover {
	background-color: red;
	color: white;
}